version: "3.0"
services:
  crafters-toolbox:
    build: docker
    container_name: crafters-toolbox
    tty: true
    stdin_open: true
    volumes:
      - ./server:/home/container/server
      - ./components:/home/container/components
    ports:
      - "25565:25565"
    environment:
      - MEM_MAX=${MEM_MAX}
