version: "3.0"

x-base-service: &base-service
  build: docker
  tty: true
  stdin_open: true
  user: "${LOCAL_USERMAP}"
  environment:
    - LOCAL_UID=${LOCAL_UID}
    - LOCAL_GID=${LOCAL_GID}
    - LOCAL_USER=${LOCAL_USER}
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  game-server:
    <<: *base-service
    container_name: crafters-toolbox-game
    restart: unless-stopped
    environment:
      - SERVICE_ROLE=game
      - MEM_MAX=${MEM_MAX}
    volumes:
      - ./server:/home/container/server
    ports:
      - "25565:25565"

  ssh-server:
    <<: *base-service
    container_name: crafters-toolbox-ssh
    environment:
      - SERVICE_ROLE=ssh
      - SSH_PORT=${SSH_PORT:-2222}
      - LOCAL_USER=${LOCAL_USER}
    volumes:
      - ./components:/home/container/components
    ports:
      - "2222:2222"

  monitor-server:
    <<: *base-service
    container_name: crafters-toolbox-monitor
    environment:
      - SERVICE_ROLE=monitor
      - MONITOR_SUMMARY_INTERVAL=${MONITOR_SUMMARY_INTERVAL:-300}
    volumes:
      - ./components:/home/container/components
