x-base-service: &base-service
  tty: true
  stdin_open: true
  user: "${LOCAL_USERMAP}"
  environment: &base-env
    LOCAL_UID: ${LOCAL_UID}
    LOCAL_GID: ${LOCAL_GID}
    LOCAL_USER: ${LOCAL_USER}
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  game-server:
    <<: *base-service
    image: crafters-toolbox:latest
    entrypoint: ["start-game"]
    container_name: crafters-toolbox-game
    restart: unless-stopped
    environment:
      <<: *base-env
      MEM_MAX: ${MEM_MAX}
    volumes:
      - ./server:/home/container/server
    ports:
      - "25565:25565"

  ssh-server:
    <<: *base-service
    image: crafters-toolbox:latest
    entrypoint: ["start-ssh"]
    container_name: crafters-toolbox-ssh
    user: "0:0"
    environment:
      <<: *base-env
      SSH_PORT: ${SSH_PORT:-2222}
      SSH_ENABLE_PASSWORD_AUTH: ${SSH_ENABLE_PASSWORD_AUTH:-false}
      SSH_ENABLE_KEY_AUTH: ${SSH_ENABLE_KEY_AUTH:-true}
      SSH_PASSWORD: ${SSH_PASSWORD:-}
    volumes:
      - ./components:/home/container/components
      - ./server:/home/container/server
      - ./.ssh:/home/container/.ssh
    ports:
      - "2222:2222"


